header {
    height: 46rem;
    padding-top: 75px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    
}



header .bg-image {
    position: absolute;
    background-image: url(header.jpg);
    background-size: cover;
    background-position: center;
    height: 75rem;
    width: 100%;
    opacity: 1;
    z-index: -1;
    top: 70px;
}

header h1 {
    margin: 75px auto;
    padding-bottom: 0;
    

   
    
   
   

}

.btn {
    border: none;
    padding: 12px 50px;
    border-radius: 24px;
    background-color: white;
    font-size: 1.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 10px;


}