* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: white;
    align-items: center;
    background-color: #a4a4a4a4;
    



}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.navbar {
    background: #3b69db;
   
    width: 100%;
    position: fixed;
    padding: 3rem 5rem;
    z-index: 1;
    


}

#logo-box {
    float: left;

}

#logo-box .logo {
    color: white;
    font-weight: 700;
    font-size: 3.2rem;
    text-transform: uppercase;

}

i{
    width: 50p;
}

#nav-links {
    float: right;
}

#nav-links .nav-icon {
    display: none;
}



#nav-links .nav-item {
    float: left;
    margin: .9rem;
}

#nav-links .nav-link {
    color: white;
    font-size: 1.6rem;
    display: block;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 0px 1.6rem;
    transition: color;

}

#nav-links .nav-link:hover {
    color: #C2630A;
}

@media (max-width: 992px) {

    #logo-box {
        float: none;
        text-align: left;
    }

    #nav-links {
        float: none;
    }

    #nav-links .nav-link {
        font-size: 2rem;
        padding-left: 0;
    }

    #nav-links .nav-item {
        float: none;
        text-align: center;
        margin-bottom: 25px;
    }

    #nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 30px;
        right: 0%;

    }

    #nav-links.responsive li:not(:first-child) {
        display: none;
    }
}